@import 'styles/variables';

.axisBottom {
  &_line {
    stroke: rgba($color-accent, 0.05);
  }
  &_text {
    text-anchor: middle;
    fill: rgb($color-light, 0.5);
  }
}

.axisLeft {
  &_text {
    text-anchor: end;
    fill: rgb($color-light, 0.5);
  }
}

.axisLabel {
  font-size: 1.5em;
  fill: $color-light;
}

.mark {
  fill: rgba($color-accent, 0.5);
  stroke: rgba($color-light, 0.5);
}
