.root {
  outline: 1px solid rgb(231, 231, 231);

  [data-head] {
    stroke: rgb(231, 231, 231);
    fill: rgb(83, 167, 209);
  }

  [data-eye] {
    fill: white;
    // fill: rgb(27, 27, 29);
  }

  [data-smile] {
    fill: white;
    // fill: rgb(27, 27, 29);
  }
}
