#root {
  height: 100%;
}

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: normal;
}

body {
  background-color: $color-dark;
  color: $color-light;
}

h2 {
  font-size: 1.5em;
}
