#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: normal;
}

body {
  background-color: $color-dark;
  color: $color-light;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 6px;
}

p {
  font-size: 1em;
  margin-bottom: 6px;
}

.a {
  transition: color $transition-props;

  color: rgba($color-accent, 0.85);

  &:hover,
  &:active {
    color: $color-accent;
  }

  &:visited {
    color: rgba($color-accent, 0.5);
  }
}

.separator {
  &-v {
    padding: 0 6px;

    div {
      height: 100%;
      width: 2px;
      background-color: rgba($color-accent, 0.25);
    }
  }
}
