#root {
  height: 100%;
}

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: normal;
}

body {
  background-color: rgb(29, 29, 32);
  color: rgb(229, 231, 234);
}

h2 {
  font-size: 1.5em;
}
