$color-dark: rgb(29, 29, 32);
$color-light: rgb(229, 231, 234);
$color-accent: #7fabf7;
$color-accent-2: rgb(47, 189, 172);
$color-accent-3: rgb(119, 92, 177);
$color-accent-4: rgb(255, 248, 89);
$color-accent-5: hotpink;

$transition-props: 100ms linear;

:export {
  colorAccent: $color-accent;
  colorAccent2: $color-accent-2;
  colorAccent3: $color-accent-3;
}
