$color-accent: #7fabf7;
$color-accent-50: rgba($color-accent, 0.5);

$color-dark: rgb(29, 29, 32);
$color-light: rgb(229, 231, 234);

$transition-props: 100ms linear;

:export {
  colorAccent: $color-accent;
  colorAccent50: $color-accent-50;
}
