.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  margin: 0 32px;

  height: 100%;
}

.header {
  width: 100%;
}

.content {
  flex: 1;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
