.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.header {
  width: 100%;
  padding: 0 32px;
}

.content {
  flex: 1 0 auto;
  width: 100%;
  overflow-y: auto;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 32px;
}
