@import 'styles/variables';

.separator {
  &-v {
    padding: 0 6px;

    div {
      height: 100%;
      width: 2px;
      background-color: rgba($color-accent, 1);
    }
  }
}

.rotate {
  animation: rotate 360s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
