@import 'styles/variables';

.axisBottom {
  &_line {
    stroke: $color-axis-line;
  }
  &_text {
    text-anchor: middle;
    fill: $color-axis-text;
  }
}

.axisLeft {
  &_line {
    stroke: $color-axis-line;
  }
  &_text {
    text-anchor: end;
    fill: $color-axis-text;
  }
}

.axisLabel {
  font-size: 1.5em;
  fill: $color-light;
}

.mark {
  // fill: rgba($color-accent, 0.5);
  stroke: rgba($color-light, 0.5);
}
