.root {
  [data-head] {
    stroke: rgb(231, 231, 231);
    fill: rgba(83, 167, 209, 0.5);
  }

  [data-eye-left],
  [data-eye-right] {
    fill: rgba(27, 27, 29, 0.85);
  }

  [data-mouth] {
    fill: rgba(27, 27, 29, 0.85);
  }
}
